body {
  background: url("./backgroundPictures/weather_background.jpeg")no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  height: 500px;
}

#weatherImage img{
  max-height: 400px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}