body {
  background: url("./backgroundPictures/weather_background.jpeg")top center fixed;
   width: 100%;
    height: auto;
}
}

#weatherImage img{
  max-height: 400px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: white;
}